@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    font-family: 'Montserrat';
    margin: 0;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.search-icon{
    text-align: center;
}

.topbar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 5em;
    background-color: red;
    width: 100vw;
    height: 5em;
}

.title {
    padding: 2em;
    float: left;
    font-size: 1em;
    color: white;
    text-decoration: none;
}

.global-search{
    float: left;
    //box-sizing: border-box;
    //padding-left: 10em;
    //padding-right: 10em;
    //border: 0.01em solid black;
    border-radius: 500px;
    border: thin solid #e5e5e5;
    height: 2.1em;
    margin-top: 1.7em;
    width: calc(100vw - 20em);
    background-color: white;
}

#search-input{
    margin-left: 2em;
    float: left;
    border: none;
    height: 2em;
    width: calc(100vw - 30em);
}

#search-input:focus{
    outline-width: 0;
    border:none;
}

#search-icon{
    float:left;
    margin-left: calc(100vw - 44em);
    padding-top: 0.5em;
}