.top-bar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 5rem;
    background-color: #212121;
    width: 100vw;
    height: 3rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}

.title {
    font-family: 'Roboto', sans-serif;
    padding-top: 0.5rem;
    padding-left: 0rem;
    padding-right: 2rem;
    float: left;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    text-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}

.global-search{
    -webkit-app-region: no-drag;
    float: left;
    border-radius: 500px;
    border: thin solid #0000;
    height: 1.9rem;
    margin-top: 0.5rem;
    width: calc(100vw - 20rem);
    background-color: #424242;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}

#search-input{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left: 2rem;
    color: white;
    float: left;
    border: none;
    height: 1.7rem;
    width: calc(100vw - 25rem);
    background: #424242;
}

#search-input:focus{
    caret-color: white;
    outline-width: 0;
    border:none;
}

#search-icon{
    text-align: center;
    color: white;
    position: relative;
    float:left;
    right : 0;
    left: 1rem;
    padding-top: 0.4rem;
}